@media (max-width: 992px){

    @media(orientation: landscape) {

        .pc{
            display: block;
        }
        #mob{
            display: none;
        }

    }

    @media(orientation: portrait)  {

        .pc{
            display: none;
        }
        #mob{
            display: block;
        }

    }
}

@media(min-width: 992px) {

    .pc{
        display: block;
    }
    #mob{
        display: none;
    }
}
