<script type="text/javascript">

    function closed() {
        var z= document.getElementById("mymenuglyph");
        z.style.display="inline-block";
        var x= document.getElementById("mykdr_menu");
        x.style.display="none";
        var y= document.getElementById("closenav");
        y.style.display="none";

        var a= document.getElementById("langmenu");
        a.style.display="inline-block";

        var b= document.getElementById("english");
        b.style.display="none";
        var c= document.getElementById("malayalam");
        c.style.display="none";
    }

    function opened() {
        var z= document.getElementById("closenav");
        z.style.display="inline-block";
        var x= document.getElementById("mykdr_menu");
        x.style.display="block";
        var y= document.getElementById("mymenuglyph");
        y.style.display="none";
    }

    function langselect() {
        var z= document.getElementById("langmenu");
        z.style.display="none";
        var x= document.getElementById("english");
        x.style.display="inline-block";
        var y= document.getElementById("malayalam");
        y.style.display="inline-block";
    }

    function eng() {

        alert("selected language: ENGLISH");

        location.reload();
    }

    function mal() {

        alert("selected language: മലയാളം");

        location.reload();

    }

    function menuload() {

        var c= document.getElementById("malayalam");
        if(c.style.display=="inline-block")
           {location.reload();}
    }

</script>

<div class="col-md-12" id="mypage">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <img class="mylogo" src="images/mykdrpng.png" href="#" alt="www.mykoduvayur.in" />
                
                <a class="mylogocap" href="#">MYKODUVAYUR</a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-bars"></i></label>
                <label ng-click="closed()" id="closenav"><i class="glyphicon glyphicon-remove"></i></label>
            </div>

            <ul id="mykdr_menu">
                <li id="language">
                    <a ng-click="langselect()" id="langmenu">&nbsp;<i class="fa fa-language"></i> LANGUAGE &nbsp; </a>
                    <a ng-click="eng()" id="english">&nbsp;<i class="fa fa-buysellads"></i> ENGLISH&nbsp;</a>
                    <a ng-click="mal()" id="malayalam">&nbsp;<label>മ</label> മലയാളം&nbsp;</a>
                </li>
                <li ng-click="menuload()" id="home"><a href="#home"><i class="fa fa-home"></i> HOME</a></li>
                <li ng-click="menuload()" id="landscape"><a href="#landscape"><i class="glyphicon glyphicon-picture"></i> LANDSCAPE</a></li>
                <li ng-click="menuload()" id="culture"><a href="#culture"><i class="fa fa-bell"></i> CULTURE</a></li>
                <li ng-click="menuload()" id="services"><a href="#services"><i class="fa fa-rupee"></i> SERVICES</a></li>
                <li ng-click="menuload()" id="trending"><a href="#trending"><i class="fa fa-hashtag"></i> TRENDING</a></li>
                <li ng-click="menuload()" id="events"><a href="#events"><i class="fa fa-calendar"></i> EVENTS</a></li>
                <li ng-click="menuload()" id="emergency"><a href="#emergency"><i class="fa fa-plus-square"></i> EMERGENCY </a></li>
                <li ng-click="menuload()" id="contact"><a href="#about"><i class="fa fa-universal-access"></i> ABOUT US</a></li>
            </ul>


        </div>

    </nav>

    <div class="col-md-12" id="non-nav">

        <div id="bannerdiv">

            <img class="mob bannermob" src="./images/wallmob.jpg"/>
            <img class="pc bannerpc" src="./images/wallpc.jpg"/>


        </div>

    </div>


</div>
